
body {
    background-image: url("../../assets/images/wallpaper.png");
    background-position: top left;
}

h1 {
    background-color: cadetblue;
    width: 320px;
    height: auto;
}

.rules {
    background-color: darkgoldenrod;
    width: 700px;
    height: auto;
    padding: 10px;
}

.computer-number {
    background-color: cadetblue;
    width: 250px;
    height: 100px;
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

.win-losses {
    background-color: orange;
    width: 250px;
    height: 100px;
    padding: 20px;
}

.player-number {
    background-color: dodgerblue;
    width: 250px;
    height: 150px;
}