body {
    background-image: url("../../assets/images/wallpaper.png");
    background-position: top left;
    overflow-x: hidden;
}

h1 {
    border-radius: 15px;
    background-color: cadetblue;
    width: 320px;
    height: 55px;
    text-align: center;
}

.rules {
    border-radius: 25px;
    background-color: rgb(0, 131, 207);
    width: 700px;
    height: auto;
    padding: 10px;
}

.crystals {
    padding-left: 15px;
}

#computer-number {
    background-color: cadetblue;
    width: 250px;
    height: auto;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

#win-losses {
    background-color: orange;
    width: 250px;
    height: auto;
    padding: 20px;
}

#user-score {
    background-color: dodgerblue;
    width: 250px;
    height: 100px;
    font-size: 30px;
    padding-top: 10%;
}